workflow/AI Podcast Generator.json
{
  "name": "AI Podcast Generator",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        32,
        -32
      ],
      "id": "a45dcfdf-92a0-4e6a-a4a7-06ec8bf302f8",
      "name": "When chat message received",
      "webhookId": "d7c86e8e-6d55-4a03-bf7b-77a928f9bb01"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        256,
        192
      ],
      "id": "0e0f8fa7-5ff6-4d81-9428-06b502027d2a",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "imtBqDN4N3aHMLaj",
          "name": "Google Gemini(PaLM) Api account 5"
        }
      }
    },
    {
      "parameters": {
        "messages": {
          "messageValues": [
            {
              "message": "=You are a professional podcast script writer.  Write a conversational and engaging podcast script on the topic: {{ $json.chatInput }}.  Keep it around 2 minutes when spoken.  Use a friendly and informative tone, as if talking directly to listeners.  Avoid any headings, labels, or formatting. Output p"
            }
          ]
        },
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.8,
      "position": [
        256,
        -32
      ],
      "id": "71e88176-ea5a-4840-9d16-f94678bc1a0e",
      "name": "Podcast Script Generator"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://global.api.murf.ai/v1/speech/stream",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "api-key",
              "value": "ap2_c442af61-0f14-4b0f-aaa9-56b863b1855b"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "text",
              "value": "={{ $json.text }}"
            },
            {
              "name": "voiceId",
              "value": "Matthew"
            },
            {
              "name": "multiNativeLocale",
              "value": "en-US"
            },
            {
              "name": "model",
              "value": "FALCON"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        608,
        -32
      ],
      "id": "79469f81-f348-4943-be02-7c473c5489ab",
      "name": "Murf API"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "Podcast Script Generator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Podcast Script Generator",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Podcast Script Generator": {
      "main": [
        [
          {
            "node": "Murf API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Murf API": {
      "main": [
        []
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "215bcdfa-8b4e-4e05-832d-5bc4adb950fd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "4c3ae1d1696641660731f118a2453b887cd72daa080f4b50bce56a7a4a61bfcd"
  },
  "id": "ACkqKcksNGHYjnQX",
  "tags": []
}